@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-hand {
    animation: moveUpDown 1s infinite alternate;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .bounce-animation {
    animation: bounce 1s infinite;
  }
  
  .hand-icon {
    display: inline-block;
  }